* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, "Droid Sans Regular", STXihei, "华文细黑", "Microsoft Yahei","微软雅黑", Tahoma, Arial, sans-serif;	
}

/* clickable circle buttons */
.circular-button {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	text-decoration: none;
	background: transparent;
	border-style: solid;
	border-width: 2px;
	border-color: white;
}
.circular-button.black-active {
	background: black;
	border-color: black;
}
.circular-button.black-inactive {
	background: transparent;
	border-color: black;
}

.circular-button.white-active {
	background: white;
	border-color: white;
}
.circular-button.white-inactive {
	background: transparent;
	border-color: white;
}
.circular-button:hover {
	color: white;
	background: #bbb;
	text-decoration: none;
	cursor: pointer;
}
/* end */

/* tooltip, see https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top */
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltip-content {
  display: none;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.tooltip:hover .tooltip-content {
  display: inline-block;
}
.qrcode-image {
	width: 120px;
}

/* non-flex version */
.bold {
	font-weight: bold;
}
.align-center {
	text-align: center;
}
.align-middle {
	vertical-align: middle;
}
.clear-image-float {
	clear: right;
}

/* slide */
.slides-container {

}
.slide-content-container {
}
.slide-item {
	height: 400px;
	overflow: hidden;
}
.slide-header-section {
	text-align: center;
	padding: 20px 10px 20px 15px;
}
.slide-header-dummy-section {
	padding: 30px 10px 30px 15px;
}
.slide-header-small-dummy-section {
	padding: 15px 5px 10px 10px;
}
.slide-content-section {
	max-height: 100%;
}
.slide-content-section .text-full-content {
	display: table;
	height: 400px;
	margin: auto;
}
.slide-content-section .text-full-content > p {
	display: table-cell;
	vertical-align: middle;
}
.slide-content-container.scrollable-y .slide-item {
	height: 440px;
	padding-bottom: 40px;
}
.slide-content-container.scrollable-y .slide-content-section .text-full-content {
	height: 440px;
}
.slide-content-container.scrollable-y .slide-content-section {
	width: 100%;
	padding-right: 17px;
	overflow: auto;
	overflow-x: hidden;
}

.slide-item-image {
	margin: 15px 0 10px 0;
	box-shadow: 4px 0 8px 0 rgba(0,0,0,0.50);
	max-height: 350px;
}
.slide-image-container {
	margin: auto;
}
.slide-image-container > div {
	position: relative;
	float: right;
	right: 50%;
}
.slide-image-container.occupy-full {
	height: 100%;
}
.slide-image-container > img {
	margin: 5px 0;
}
.slide-single-image {
	cursor: pointer;
	position: relative;
	right: -50%;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.50);
	max-height: 300px;
}
.slide-image {
	cursor: pointer;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.50);
	max-height: 300px;
}
.slide-navigator-container {
	margin: 0px 0 15px 0;
}

.header-text-separator {
	border: 0;
	border-top: 2px dashed;
	border-color: inherit;
	width: 100px;
	margin: 10px auto;
}

/* top section */
.top-section {
	background-color: black;
}

/* top-section */
.top-section-elements {
	margin: auto;
	padding: 15px 0 15px 0;
	max-width: 1024px;
}

.top-section-image {
	display: inline-block;
	vertical-align: middle;
}
.top-section-image > img {
	width: 110px;
}
.top-section-text {
	display: inline-block;
	color: white;
	margin: 10px;
}
.top-section-hr {
	border: 0;
	border-top: 2px solid white;
	display: inline-block;
	width: 50px;
	margin: 10px;
}

/* operation-objective-section */
.optobj-section {
	background-color: white;
	display: table;
	margin: 15px auto 15px auto;
	max-width: 1024px;
}
.optobj-section-text {
	text-align: center;
	margin: 10px;
}
.optobj-section-bottom-part {
	text-align: center;
	vertical-align: middle;
}
.optobj-section-bottom-part > div {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
.optobj-section-bottom-part img {
	width: 90px;
}

/* game-section */
.game-section {
	background-color: black;
	color: white;
	text-align: center;
	background-image: url('../../images/bg-blur-raceplant.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}
.game-section .link {
	border-bottom: 2px dotted #9FABFF;
	padding-bottom: 3px;
	text-decoration: none;
	color: #8CABFF;
}

/* tech-section */
.tech-section {
	background-color: white;
	color: black;
	text-align: center;
	background-image: url('../../images/blur-bg-heatap.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}
.tech-section .link {
	border-bottom: 2px dotted #888888;
	padding-bottom: 3px;
	text-decoration: none;
	color: #555555;
}

/* contactus-section */
.contactus-section {
	background-color: white;
	text-align: center;
}
.contactus-slide-item {
	height: auto;
}
.contactus-section-left-part {
	display: inline-block;
	margin: auto;
	height: 150px;
}
.contactus-section-left-part > .text-container {
	display: table;
	height: 150px;
	margin: auto;
}
.text-container > p {
	display: table-cell;
	vertical-align: middle;
}
.contactus-section-right-part {
	display: inline-block;
}
.contactus-section-right-part > .image-container > img {
	width: 150px;
	margin: 0 30px;
}
.contactus-section-right-part > .image-tagline {
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #999999;
}
.contactus-slide-content-section {
	margin: 15px 0;
}

/* map-section */
.map-section {
	background-color: black;
	height: 250px;
	text-align: center;
}
#map-element {
	margin: auto;
	width: 100%;
	height: 100%;
}

/* followus-section */
.followus-section {
	background-color: white;
	color: black;
	align-items: center;
}
.followus-slide-item {
	height: auto;
}
.followus-content-section {
	text-align: center;
}
.followus-content-section > .social-container {
	display: inline-block;
	margin: 20px;
	text-align: center;
}
.social-container > .image-container > img {
	width: 35px;
}
.social-container > .image-container > .tagline {
	color: #888888;
}
.social-container > .link-container {
	text-align: center;
}
.social-container > .link-container > a {
	border-bottom: 2px dotted #CCCCCC;
	padding-bottom: 5px;
	text-decoration: none;
	font-size: 15px;
	color: #888888; 
}

/* team-section */
.team-section {
	background-color: black;
	max-width: none;
	background-image: url('../../images/crissXcross.jpg');
	background-repeat: repeat;
	text-align: center;
	color: white;
}
.team-slide-item {
	height: auto;
}
.team-section-person-container {
	display: inline-block;
	margin: 20px 40px;
	text-align: center;
}
.team-section-person-container > .table-container {
	display: table;
	border-spacing: 0 15px;
}
.team-section-person-container .table-row {
	display: table-row;
}
.team-section-person-container .image-container > img {
	width: 120px;
}
.team-section-person-name {
	font-size: 16px;
}
.team-section-person-tagline {
	font-size: 13px;
	color: #898989;
	margin-top: 20px;
}
.team-section-person-tagline > a {
	color: #8CABFF;
	cursor: pointer;
	border-bottom: 2px dotted #9FABFF;
	padding-bottom: 2px;
}

/* footnote-section */
.footnote-section {
	background-color: black;
	color: white;
	padding: 30px;
	text-align: center;
	font-size: 12px;
}
.footnote-section > .gray {
	color: #999999;
	margin-top: 5px;
}
.footnote-section > a {
	border-bottom: 2px dotted #555555;
	padding-bottom: 3px;
	text-decoration: none;
	color: #999999;
}